.body{     
	/*border-spacing: 5%;     
	background-color: #7FEFEB;     
	letter-spacing:5px;     */
}

.top-panel{
	/*border-spacing: 5px;
	border-width: 10px;
	border-left: 25px;
	padding: 20px;*/
	background-color: #10AEEC;
	height: 15%;
	width: 100%;
}

.left-panel{
	background-color: #CCFF33;
	height: 100%;
	width:15%;
}
.center-panel{
	background-color: #FFFFFF;
	width:85%;
	height:100%;
	position: relative;
	left:15%;
	top:-97.5%;
}
